---
title: "Passion Test results"
tags: [ "passion test", "eri", "first" ]
author: Rob Nugen
date: 2018-08-20T17:42:15+09:00
---

## 17:42 Monday 20 August 2018 JST

Today I took the [Passion Test](https://thepassiontest.com/) with Eri (, who
is still looking for participants, if you're interested).

I came up with the following visions and SMART goals

1. Leading (by example) and teaching men to live their life mission

    Have grandfathered 20 healthy men's circles in Japan that run
    without me.

2. Creating passionate community around detailed art.

    Have 50,000 followers online and 500 live watchers of my
    livestreams

3. Loving relationship with Lin

    I can drive her + visit Hawaii for 6 weeks at a time

4. Comfortable with my health

    High energy / Dr says "wow!" when he sees my clearly healthy
    medical test results

5. Comfortable in my neighborhood

    I know 60 neighbors by name and we spend time together hanging
    out.


